.myborder {border-style: dotted; color: purple; text-align: center;}

div {text-align: center;}

.span1 {color: red;}

.style1 {color: green;}

p.style2 {color: orange; font-size: 16px;}

.span2 {color: yellow;}

p.style3 {color: purple; font-size: 3px;}

div.div2 {text-align: left;}

div.div3 {text-align: right;}
