.myborder {border-style: dotted; color: purple; text-align: center;}

div {text-align: center;}

.span1 {color: red;}

.style1 {color: green;}

.style2 {color: orange; font-size: 14;}

.span2 {color: yellow;}

.style3 {color: purple; font-size: 5;}

div.div2 {text-align: left;}

div.div3 {text-align: right;}
